h1{
  font-family: Consolas;
  font-style: italic;
  font-size: 50px;
}

h3 {
  font-family: sans-serif;
}

body{
  background-color: #333639;
  color: white;
  font-family: monospace;
}

.Organisasi{
  background-color: #616363;
}

.Beranda {
  text-align: center;
}

hr {
  border-style: inset;
  border-width: 5px;
}

ul, li{
  text-align: left;
  line-height: 25px;
}

table {
  border-color: white;
}

img {
  border-radius: 10%;
}
