body {
  background-color: #333639;
  margin: 0;
  color: white;
}

a {
  text-decoration: none;
  color: white;
}

table{
  margin: 0 auto;
}

tr, td {
  padding: 10px;
}

h1 {
  margin: 0;
  font-family: 'Sacramento', cursive;
  font-size: 60px;
  font-style: italic;
}

h2 {
  font-size: 20px;
  font-family: monospace;
  font-style: italic;
}

#spasiAtas {
  border-width: 0;
  margin-bottom: 250px;
}

.overlay {
  width: auto;
  height: 600px;
  background-color: rgba(0, 0, 0, 0.5);
}

.header {
  width: 100%;
  height: 12%;
  margin-top: 0;
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  box-shadow: 0 0 20px 0 black;
}

.fotoProfilContainer {
  text-align: center;
  height: 100%;
  width: 6%;
  position: absolute;
  left: 1%;
  /* background-color: red; */
}

#fotoProfil {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  width: 60%;
  height: auto;
  margin: 0;
  border-radius: 50%;
  border-style: solid;
  border-width: 4px;
  border-color: white;
}

.menu {
  position: absolute;
  right: 1%;
  height: 100%;
  width: 40%;
  border-bottom: 4px solid white;
  text-align: center;
  font-weight: bold;
  font-family: 'Indie Flower', cursive;
  /* background-color: red; */
}

.menu ul {
position: relative;
  top: 50%;
  transform: translateY(-50%);
  padding: 0;
  margin: 0;
  width: auto;
}

.menu li {
  padding: 0 20px;
  display: inline-block;
}

.profil {
  margin: 0;
  width: 100%;
  height: 600px;
  background-image: url("https://i.ibb.co/q5WHnv3/background.jpg");
  background-size: cover;
  background-position: center;
  text-align: center;
  border-bottom: 10px solid white;
}

.profil img {
  width: 160px;
  height: 220px;
  border-radius: 15%;
  border-style: solid;
  border-width: 3px;
  border-color: grey;
  position: absolute;
}

#foto1 {

}

hr {
  margin: 0 auto;
  border-style: solid;
  border-width: 2px;
  border-color: white;
}
