body {
  background-color: black;
  margin: 0;
  color: white;
}

table{
  margin: 0 auto;
}

tr, td {
  padding: 10px;
}

h2 {
  font-family: 'Indie Flower', cursive;
}

a {
  font-family: 'Indie Flower', cursive;
  color: #c2c2c2;
  text-decoration: none;
}

.profil h2 {
  font-size: 180%;
  font-family: 'Caveat', cursive;
  font-style: italic;
}

#spasiAtas {
  border-style: none;
  border-width: 0;
  margin: 0;
  margin-bottom: 250px;
}

.overlay {
  width: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.header {
  z-index: 2;
  width: 100%;
  height: 50px;
  margin-top: 0;
  position: fixed;
  top: 0px;
  background-image: linear-gradient(to bottom,
    rgba(0,0,0,1),
    rgba(0,0,0,0.7),
    rgba(0,0,0,0));
}

.fotoProfilContainer {
  text-align: center;
  height: 100%;
  width: 5%;
  position: absolute;
  left: 1%;
  /* background-color: red; */
}

#fotoProfil {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  width: 40%;
  height: auto;
  margin: 0;
  border-radius: 50%;
  border-style: solid;
  border-width: 4px;
  border-color: #c2c2c2;
}

.menu {
  position: absolute;
  right: 1%;
  height: 100%;
  width: 40%;
  border-bottom: 4px solid #c2c2c2;
  border-radius: 5px;
  text-align: center;
  font-weight: bold;
  /* background-color: red; */
}

ul {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  padding: 0;
  margin: 0;
  width: auto;
}

li {
  padding: 0 20px;
  display: inline-block;
}

.profil {
  margin: 0;
  width: 100%;
  background-image: url("https://i.ibb.co/q5WHnv3/background.jpg");
  background-size: cover;
  background-position: center;
  text-align: center;
}

.profil .overlay {
  height: 600px;
}

.profil h1 {
  margin: 0;
  font-family: 'Sacramento', cursive;
  font-size: 400%;
  font-style: italic;
}

.deskripsi {
  position: relative;
  margin: auto;
  width: 60%;
  margin-top: 50px;
  text-align: center;
  margin-bottom: 30px;
}

h1 {
  font-family: "Caveat Brush", cursive;
  font-weight: normal;
  font-size: 300%;
}

p {
  font-family: 'Balsamiq Sans', cursive;
}

.fotoDeskripsi {
  z-index: -2;
  position: relative;
}

.fotoDeskripsi img {
  width: 40%;
  height: 40%;
  margin: 0;
  padding: 4px;
  border: 4px solid white;
  border-radius: 100%;
}

.profilDiri {
  text-align: center;
  background-image: url("Foto/background2.jpg");
  background-size: cover;
  background-position: center;
  /* background-color: red; */
}

.profilDiri .overlay {
  height: 1050px;
  background-color: rgba(0, 0, 0, 0.6);
}

.profilDiri p {
  line-height: 150%;
}

.profilDiri img {
  width: 20%;
  height: 20%;
  border-radius: 100%;
  padding: 4px;
  border: 4px solid white;
}

.konten {
  padding-top: 0px;
  text-align: left;
  margin: auto;
  margin-top: 80px;
  position: relative;
  width: 60%;
}

#riwayatpend {
  float: left;
  margin-right: 30px;
}

#organisasi {
  float: right;
  margin-left: 30px;
}

#kompetensi {
  float: left;
  margin-right: 30px;
}

.footer {
  text-align: center;
  height: 200px;
}

#listSosmed a {
  font-size: 30px;
  font-style: normal;
  font-family: 'Caveat', cursive;
}

.sosmed {
  line-height: 20px;
  margin: 0 auto;
  width: 40%;
  height: 80%;
}

.small-line {
  border: 1px solid white;
  width: 10%;
  border-radius: 15px;
}

#batas1 {
  margin: 0;
  height: 20px;
  width: 100%;
  background-image: linear-gradient(to bottom,
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 1));
}

#batas2 {
  margin: 0;
  height: 20px;
  width: 100%;
  background-image: linear-gradient(to bottom,
    rgba(0, 0, 0, 1),
    rgba(0, 0, 0, 0));
}

#batas3 {
  border-width: 0;
  margin: 0;
  height: 20px;
  width: 100%;
  background-image: linear-gradient(to bottom,
    rgba(0, 0, 0, 0.6),
    rgba(0, 0, 0, 1));
}
